.container {
  display: flex;
  min-height: 50%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5 auto;
  padding-top: 100px;

}

@media (min-width: 1100px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
    width: 1100px;
  }
}
